.score {
  position: absolute;
  top: 20px;
  right: 20px;

  background-color: #fff;
  border-radius: 10px;
  padding: 10px 40px;
}

.best-score {
  position: absolute;
  top: 20px;
  left: 20px;

  background-color: #fff;
  border-radius: 10px;
  padding: 10px 40px;
}
